<div id="about" class="panel paper" data-slide="2" data-stellar-background-ratio="1">
  <div class="container">
    <div class="row-fluid hidden-phone" id="about-pictures">
      <div class="span6"> <%= image_tag "content/about-1.jpg" %></div>
      <div class="span6"> <%= image_tag "content/about-2.jpg" %></div>
    </div>
    <div class="row-fluid" id="about-text">
      <div class="span4" id="about-caption">
        <h2><%= t(:about_title1) %></h2>
        <div class="caption"><%= t(:about_text1) %></div>
        <div class="caption-border"></div>
      </div>

      <div class="span4">
        <h3><%= t(:about_title2) %></h3>
        <p><%= t(:about_text2) %></p>
        <h3><%= t(:about_title3) %></h3>
        <p><%= t(:about_text3) %></p>
      </div>

      <div class="span4">

        <h3><%= t(:about_appliances) %></h3>
        <div class="row-fluid features">
          <ul class="span6">
            <%= t(:about_appliances_list1) %>
          </ul>
          <ul class="span6">
            <%= t(:about_appliances_list2) %>
          </ul>
        </div>

        <h3><%= t(:about_title4) %></h3>
        <p><%= t(:about_text4) %></p>
      </div>
    </div>
  </div>
</div>
