<div id="closing" class="panel concrete section-type">
  <div class="container">
    <div id="circles"> &bull; &bull; &bull; </div>
    <blockquote class="span6">
      <p>&#8220; Lorem ipsum dolor sit amet, consectetur adipiscing eliters. Aenean auctor aliquam libero. Fusce nec risus in massa blandit sagittis. Quisque in nisl in nulla eleifend porttitor. &#8221; </p>
    </blockquote>
    <div class="quote-border"></div>
    <div id="mailing-list">
      <h3>Mailing List Sign-Up</h3>
      <p> Stay up-to-date with our upcoming events and promotions </p>
      <form method="post" action="http://simplicix.us2.list-manage.com/subscribe/post?u=a8ece0e328d32451b73b8fec7&amp;id=a1fecce11b" class="form-inline" target="_blank">
        <input class="email" id="email" type="text" name="EMAIL" placeholder="Email Address"/>
        <button class="btn btn-primary" type="submit">Subscribe!</button>
      </form>
      <div id="response-newsletter" style="display: none;"></div>
    </div>
    <a href="#front" class="to-top">Back to Top</a> </div>
</div>