<div id="contact" class="panel paper section-type dark" data-slide="7" data-stellar-background-ratio="1.5">
  <div id="contact-map">
  </div>
  <script>
    $("#contact-map").gmap3({
      map: {
        lat: 37.2749153,
        lng: 22.8401893,
        options: {
          zoom: 10,
          scrollwheel: false
        }
      },
      marker: {
        lat: 37.2749153,
        lng: 22.8401893,
        options: {
          icon: "/images/wildderness_camping.png"
        }
      }
    });
  </script>
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
        <h3><%= t(:contact_form_title) %></h3>
        <p><%= t(:contact_form_text) %></p>
        <form id="contact-form" action="http://submit.jotform.co/submit/32063710909855/" method="post" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputName"><%= t(:contact_form_name_label) %></label>
            <div class="controls">
              <input name="q1_name" type="text" class="span12" id="inputName" placeholder="<%= t(:contact_form_name_placeholder) %>" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail"><%= t(:contact_form_email_label) %></label>
            <div class="controls">
              <input name="q3_email" type="email" class="span12" name="email" id="inputEmail" placeholder="<%= t(:contact_form_email_placeholder) %>" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textMessage"><%= t(:contact_form_message_label) %></label>
            <div class="controls">
              <textarea name="q4_message" rows="8" class="span12" id="textMessage" placeholder="<%= t(:contact_form_message_placeholder) %>" required></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div id="response" style="display: none;"></div>
              <input type="hidden" name="website">
              <input type="hidden" name="simple_spc" value="32063710909855-32063710909855">
              <input type="hidden" name="formID" value="32063710909855">
              <button id="submit" type="submit" class="btn btn-primary right"><%= t(:contact_form_submit) %></button>
            </div>
          </div>
        </form>
      </div>
      <div class="span4">
        <h3><%= t(:contact_title) %></h3>
        <address>
          <%= t(:contact_address) %>
        </address>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaritsicamping&amp;width=292&amp;height=210&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=true&amp;appId=288624981180820" scrolling="no" frameborder="0" style="border: 1px solid #485364; background: white; overflow:hidden; width:100%; height:210px;" allowTransparency="false"></iframe>
      </div>
    </div>
  </div>
</div>
