<div id="directions" class="panel section-type light" data-slide="3" data-stellar-background-ratio="0">
  <h2 class="page-title">Directions</h2>
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <div class="location-title">Choose a location</div>
        <select id="locations-select" class="span12">
        </select>
        <div id="locations-info">
          <div> Choose a location to see location, hours and other information. </div>
          <div style="display: none;">
            <h3>Seattle Bistecca</h3>
            <address>
            11195 1st Avenue <br/>
            Seattle, Washington <br/>
            98105-2345 <br/>
            United States <br/>
            (425) 220-3405
            </address>
            <h4>Hours</h4>
            <p> <strong>DINING:</strong> <br/>
              Monday - Thursday 11:00 a.m. - 10:00 p.m. <br/>
              Friday 11:00 a.m. - 11:00 p.m. <br/>
              Saturday - Sunday 12:00 p.m. - 11:00 p.m.<br/>
            </p>
            <p> <strong>BAR:</strong><br/>
              Monday - Thursday 11:00 a.m. - 12:30 a.m. <br/>
              Friday 11:00 a.m. - 1:30 a.m. <br/>
              Saturday 12:00 p.m. - 1:30 a.m.<br/>
              Sunday 12:00 p.m. - Midnight<br/>
            </p>
          </div>
          <div style="display: none;">
            <h3>Toronto Bistecca</h3>
            <address>
            246 Main Street <br/>
            Toronto, Ontario <br/>
            H9L 4J0 <br/>
            Canada <br/>
            (126) 325-3172
            </address>
            <h4>Hours</h4>
            <p> <strong>DINING:</strong> <br/>
              Monday - Thursday 11:00 a.m. - 10:00 p.m. <br/>
              Friday 11:00 a.m. - 11:00 p.m. <br/>
              Saturday - Sunday 12:00 p.m. - 11:00 p.m.<br/>
            </p>
            <p> <strong>BAR:</strong><br/>
              Monday - Thursday 11:00 a.m. - 12:30 a.m. <br/>
              Friday 11:00 a.m. - 1:30 a.m. <br/>
              Saturday 12:00 p.m. - 1:30 a.m.<br/>
              Sunday 12:00 p.m. - Midnight<br/>
            </p>
          </div>
          <div style="display: none;">
            <h3>Miami Bistecca</h3>
            <address>
            11195 1st Avenue <br/>
            Miami, Florida <br/>
            98105-2345 <br/>
            United States <br/>
            (425) 220-3405
            </address>
            <h4>Hours</h4>
            <p> <strong>DINING:</strong> <br/>
              Monday - Thursday 11:00 a.m. - 10:00 p.m. <br/>
              Friday 11:00 a.m. - 11:00 p.m. <br/>
              Saturday - Sunday 12:00 p.m. - 11:00 p.m.<br/>
            </p>
            <p> <strong>BAR:</strong><br/>
              Monday - Thursday 11:00 a.m. - 12:30 a.m. <br/>
              Friday 11:00 a.m. - 1:30 a.m. <br/>
              Saturday 12:00 p.m. - 1:30 a.m.<br/>
              Sunday 12:00 p.m. - Midnight<br/>
            </p>
          </div>
        </div>
      </div>
      <div class="span8">
        <div id="locations-map-wrap">
          <div id="locations-map"></div>
        </div>
      </div>
    </div>
  </div>
</div>