<div id="footer">
  <div class="container">
    <ul id="badges">
      <li><img src="/images/badges/acsi.jpg" width="50"></li>
      <li><img src="/images/badges/adac.png" width="50"></li>
      <li><img src="/images/badges/anwb.png" width="50"></li>
      <li><img src="/images/badges/routard.png" width="50"></li>
    </ul>
    <div class="copy">Copyright &copy; 2014 <a href="#">Camping Zaritsi</a>. All Rights Reserved.</div>
    <div class="powered">Website powered by <a href="http://www.artime.gr/" rel="external">Artime</a></div>
  </div>
  <div id="isologismos">
    <a href="/documents/isologismos_2014.pdf">Ισολογισμός 2014</a>
  </div>
  <%= partial "_partials/analytics" %>
</div>
