<div id="front" class="panel flexslider" data-slide="1" data-stellar-background-ratio="0.5">
  <ul class="slides">
    <li>
      <%= image_tag "slideshow/image.jpg" %>
      <div class="slide-content center">
        <div class="container">
          <div class="span12">
            <div class="title"><span><%= t(:front_title) %></span></div>
            <div class="subtitle"><span><%= t(:front_subtitle) %></span></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
