<div id="gallery" class="panel concrete section-type light" data-slide="6" data-stellar-background-ratio="1.5">
  <h2 class="page-title"><%= t(:gallery_title) %></h2>
  <div class="container">
    <ul class="thumbnails">
      <% (1..50).each do |i| %>
        <li class="span4">
          <figure>
            <a href="<%= image_path "gallery/%02d-photo.jpg" % i %>" class="thumbnail">
            <%= image_tag "gallery/thumbs/%02d-photo.jpg" % i %>
            </a> </figure>
        </li>
      <% end %>
    </ul>
  </div>
</div>
