<div id="menu" class="panel dark-leather section-type menu-type light" data-slide="4" data-stellar-background-ratio="0.5">
  <h2 class="page-title"><%= t(:prices_title) %></h2>
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <div class="menu-section">
          <h3><%= t(:prices_low_season_title) %></h3>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_adults_title) %></p>
            <p class="span2 price">5,80€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_children_title) %></p>
            <p class="span2 price">3,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_car_title) %></p>
            <p class="span2 price">3,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_caravan_title) %></p>
            <p class="span2 price">5,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_trailer_title) %></p>
            <p class="span2 price">5,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_motorhome_title) %></p>
            <p class="span2 price">6,60€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_small_tent_title) %></p>
            <p class="span2 price">4,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_large_tent_title) %></p>
            <p class="span2 price">5,60€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_coach_title) %></p>
            <p class="span2 price">7,20€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_big_coach_title) %></p>
            <p class="span2 price">11,20€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_motorcycle_title) %></p>
            <p class="span2 price">2,90€</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_boat_title) %></p>
            <p class="span2 price">2,70€</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_power_title) %></p>
            <p class="span2 price">3,90€</p>
          </div>

        </div>

      </div>
      <div class="span6">
        <div class="menu-section">
          <h3><%= t(:prices_high_season_title) %></h3>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_adults_title) %></p>
            <p class="span2 price">6,20€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_children_title) %></p>
            <p class="span2 price">3,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_car_title) %></p>
            <p class="span2 price">3,50€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_caravan_title) %></p>
            <p class="span2 price">5,90€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_trailer_title) %></p>
            <p class="span2 price">5,90€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_motorhome_title) %></p>
            <p class="span2 price">7,20€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_small_tent_title) %></p>
            <p class="span2 price">4,70€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_large_tent_title) %></p>
            <p class="span2 price">5,80€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_coach_title) %></p>
            <p class="span2 price">8,20€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_big_coach_title) %></p>
            <p class="span2 price">13,20€</p>
          </div>

          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_motorcycle_title) %></p>
            <p class="span2 price">2,90€</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_boat_title) %></p>
            <p class="span2 price">2,70€</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><%= t(:prices_power_title) %></p>
            <p class="span2 price">3,90€</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script>
    $(".menu-section > div").mouseenter(function(e){$(this).addClass("active")});
    $(".menu-section > div").mouseleave(function(e){$(this).removeClass("active")});
  </script>
</div>
