<div id="top">
  <div class="container">
    <div class="row-fluid">
      <ul class="span12" id="languages" >
        <li><a href="/"><img width="24" height="24" src="/images/flags/gr.png"></a></li>
        <li><a href="/en/"><img width="24" height="24" src="/images/flags/en.png"></a></li>
        <li><a href="/de/"><img width="24" height="24" src="/images/flags/de.png"></a></li>
        <li><a href="/fr/"><img width="24" height="24" src="/images/flags/fr.png"></a></li>
        <li><a href="/nl/"><img width="24" height="24" src="/images/flags/nl.png"></a></li>
      </ul>
    </div>
  </div>

  <div class="container main_menu">
    <div class="row-fluid">
      <ul class="span4" id="nav-left">
        <li id="price-li"><a href="<%= locale_path('prices.html')%>" target="_blank"><%= t(:top_prices) %></a></li>
        <li data-slide="2"><a href="#about"><%= t(:top_camping) %></a></li>
        <!-- <li data-slide="3"> <a href="#directions">Directions</a> </li> -->
      </ul>
      <div class="span4" id="logo">
        <div data-slide="1"> <a href="#front"><%= image_tag "logo.png", :alt => "Camping Zaritsi" %></a> </div>
      </div>
      <ul class="span4 right" id="nav-right">
        <!-- <li data-slide="5"><a href="#wine-list">Wine List</a></li> -->
        <li data-slide="6"><a href="#gallery"><%= t(:top_gallery) %></a></li>
        <li data-slide="7"><a href="#contact"><%= t(:top_contact) %></a></li>
      </ul>
    </div>
  </div>
</div>
