<div id="wine" class="panel clouds section-type menu-type dark" data-slide="5" data-stellar-background-ratio="0">
  <div id="grapes" data-stellar-background-ratio="2" data-stellar-vertical-offset="-1310"></div>
  <div id="grape" data-stellar-background-ratio="2.5" data-stellar-vertical-offset="-1350"></div>
  <div id="wine-glass" data-stellar-background-ratio="1.5" data-stellar-vertical-offset="-1700"></div>
  <h2 class="page-title">Wine List</h2>
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <div class="menu-section wine">
          <div class="span12 nomargin">
            <h3 class="span9">White</h3>
            <div class="span3 price-type">GLASS / BOTTLE</div>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>PINOT GRIGIO</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>LIPSUM TOLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>Hoyo polo</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">11.5 / 50</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BARBERA D'ASTI</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">12 / 60</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BAROLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">13.5 / 80</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>VERNACCIA</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>CHARDONNAY</strong> MARCO FELLUGA 2010</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
        </div>
        <div class="menu-section wine">
          <div class="span12 nomargin">
            <h3 class="span9">Sparkling</h3>
            <div class="span3 price-type">GLASS / BOTTLE</div>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>PINOT GRIGIO</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>LIPSUM TOLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>Hoyo polo</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">11.5 / 50</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BARBERA D'ASTI</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">12 / 60</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BAROLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">13.5 / 80</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>VERNACCIA</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>CHARDONNAY</strong> MARCO FELLUGA 2010</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BAROLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">13.5 / 80</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>VERNACCIA</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="menu-section wine">
          <div class="span12 nomargin">
            <h3 class="span9">Red</h3>
            <div class="span3 price-type">GLASS / BOTTLE</div>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>PINOT GRIGIO</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>LIPSUM TOLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>Hoyo polo</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">11.5 / 50</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BARBERA D'ASTI</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">12 / 60</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BAROLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">13.5 / 80</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>VERNACCIA</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>CHARDONNAY</strong> MARCO FELLUGA 2010</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>PINOT GRIGIO</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>LIPSUM TOLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>Hoyo polo</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">11.5 / 50</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BARBERA D'ASTI</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">12 / 60</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>BAROLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">13.5 / 80</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>VERNACCIA</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>CHARDONNAY</strong> MARCO FELLUGA 2010</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>LIPSUM TOLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>Hoyo polo</strong> MARCO FELLUGA VENTO herro man 2010</p>
            <p class="span2 wine-price">11.5 / 50</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>PINOT GRIGIO</strong> MARCO FELLUGA VENTO 2009</p>
            <p class="span2 wine-price">9 / 30</p>
          </div>
          <div class="span12 nomargin">
            <p class="span10"><strong>LIPSUM TOLO</strong> PERUVIAN peroloco 2005</p>
            <p class="span2 wine-price">10 / 40</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>