// a,#switch ul li a.current,#logo>div>a em{color:#028cae}a:hover,a:focus{color:#00657e}#top ul.span4>li:hover>a,#top ul>li.active>a,#front .title span,#front .subtitle span,#about-text h2,#about .caption-border{background-color:#028cae}.section-type.dark h3,.section-type.dark h4{color:#485364}#locations-info p,#locations-info address{color:#8da9b5}.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#028cae;background-image:-moz-linear-gradient(top,#028cae,#00657e);background-image:-webkit-gradient(linear,0 0,0 100%,from(#028cae),to(#00657e));background-image:-webkit-linear-gradient(top,#028cae,#00657e);background-image:-o-linear-gradient(top,#028cae,#00657e);background-image:linear-gradient(to bottom,#028cae,#00657e);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff028cae',endColorstr='#ff00657e',GradientType=0);border-color:#00657e #00657e #00303c;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#00657e;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#00657e;*background-color:#00657e}.btn-primary:active,.btn-primary.active{background-color:#600000 \9}.flex-direction-nav a{background:url(../../images/themes/blue/slider-nav.png) no-repeat 0 0}.customSelectInner{background:url(../../images/themes/blue/select-arrow.png) no-repeat center right}.to-top{background:url(../../images/themes/blue/top.png) no-repeat}#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose{background-image:url(../../images/themes/blue/colorbox.png)}#gallery figcaption div{background-image:url(../../images/themes/blue/zoom.png)}#directions{background-color:#143138;background-image:url(../../images/themes/blue/locations.jpg)}
a,#switch ul li a.current,#logo>div>a em
{
  color:#028cae;
}

a:hover,a:focus
{
  color:#00657e;
}

#top ul.span4>li:hover>a,#top ul>li.active>a,#front .title span,#front .subtitle span,#about-text h2,#about .caption-border
{
  background-color:#028cae;
}

.section-type.dark h3,.section-type.dark h4
{
  color:#485364;
}

#locations-info p,#locations-info address
{
  color:#8da9b5;
}

.btn-primary
{
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#028cae;
  background-image:0;
  background-image:0;
  background-image:0;
  background-image:0;
  background-image:linear-gradient(tobottom,#028cae,#00657e);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff028cae',endColorstr='#ff00657e',GradientType=0);
  border-color:#00657e #00657e #00303c;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  background-color:#00657e;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
{
  color:#fff;
  background-color:#00657e;
  background-color:#00657e;
}

.btn-primary:active,.btn-primary.active
{
  background-color:#600000 \9;
}

.flex-direction-nav a
{
  background:url(../../images/themes/blue/slider-nav.png) no-repeat 0 0;
}

.customSelectInner
{
  background:url(../../images/themes/blue/select-arrow.png) no-repeat center right;
}

.to-top
{
  background:url(../../images/themes/blue/top.png) no-repeat;
}

#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose
{
  background-image:url(../../images/themes/blue/colorbox.png);
}

#gallery figcaption div
{
  background-image:url(../../images/themes/blue/zoom.png);
}

#directions
{
  background-color:#143138;
  background-image:url(../../images/themes/blue/locations.jpg);
}