#top {
    border-top: 0;
    padding: 4px 0;
}

#logo>div {
    background-image: none;
    padding-top: 8px;
}

#logo>div>a {
    color: #fff;
}

#logo>div>a:hover {
    color: #ccc;
}

@media only screen and (min-width:1200px) {
    #logo>div {
        padding-top: 12px;
    };
}