@import "bootstrap";
@import "original";
@import "blue";

/* Customization */
#top {
  background: white;
  ul li {
    a { 
      color: #028cae !important;
      &:hover {
        color: white !important;
      }
    }
  }

  ul li.active a { color: white !important;}

  #nav-left {
    li { float: right; margin: 13px 0 0 20px;}
  }
}

#front {
  .subtitle span { 
    font-size: 14px;
    font-weight: 400;
    @media screen and (min-width: 700px) {
      font-size: 23px;
      font-weight: 300;
    }
  }
  .slide-content {
    top: 25%;
  }
}

#about {
  #about-caption {
    .caption {
      font-style: normal;
      font-weight: 300;
    }
  }
  .features {
    li {
      margin-bottom: 0.5em;
      list-style-position: inside;
      list-style-image: image-url("check.png");
    }
  }
}

#menu {
  background: image-url("themes/blue/locations.jpg");
  background-position: center center !important;
  background-attachment: fixed;
  background-size: cover;
  p {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
  }

  // .active p { color: #FF6601;}
  .price {
    text-align: right;
  }
  .menu-section > div {
    border-bottom: 1px dotted rgba(255,255,255,0.3);
    padding-top: 10px;
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;    
    p { font-weight: 300; }
    &:hover {
      background: #028CAE;
      border-color: #028CAE;
      border-left: 2px solid white;
      & p:first-child { padding-left: 1em;font-weight: bold;}
      & p:last-child {font-weight: bold; padding-right: 1em;}
    }
  }
}
  
#directions {
  background-size: cover;
}

#contact {
  #submit {
    background: #028CAE;
  }
}

#footer {
  position: relative;
}

#isologismos {
  position: absolute;
  right: 10px;
  bottom: 0;
  a {
    display: block;
    background: lighten(#232528, 5%);
    padding: 1em;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
    color: lighten(#232528, 30%);
    box-shadow: 0 0 15px #111;
  }
}

#badges {
  list-style: none;
  li{
    display:inline-block;
    margin: 0px 3px;
  }
}

#languages {
  text-align: center;
  margin: 0 0 0 6px;

  li {
    display:inline-block;
    width:24px;
    height:24px;
    margin: 0 6px;
  }
}

#top{
  height: 105px;
}

@media only screen and (max-width: 767px) {
  #languages {
    text-align: left;
    margin: 0 0 0 22px;
  }
}

@media only screen and (max-width: 480px) {
  #languages {
    margin: 8px 0 0 0px;
    li{
      width: 20px;
      margin: 0px 3px;
    }
  }
}
