<!doctype html>
<html lang="el">
<head>
  <!-- Charset -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Camping Zaritsi - Το αγαπημένο σας μέρος για διακοπές!</title>
  <meta name="title" content="Camping Zaritsi">
  <meta name="description" content="Το αγαπημένο σας μέρος για διακοπές!">
  <meta name="google-site-verification" content="">
  <meta name="author" content="Artime LTD">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta name="og:title" content="Camping Zaritsi">
  <meta name="og:description" content="Το camping Zaritsi είναι το αγαπημένο σας μέρος για διακοπές!">
  <meta name="og:image" content="http://www.campingzaritsi.gr/images/facebook.png">
  <meta name="og:url" content="http://www.campingzaritsi.gr">

  <link rel="alternate" hreflang="fr" href="http://www.campingzaritsi.gr/fr/prices.html" />
  <link rel="alternate" hreflang="nl" href="http://www.campingzaritsi.gr/nl/prices.html" />
  <link rel="alternate" hreflang="de" href="http://www.campingzaritsi.gr/de/prices.html" />
  <link rel="alternate" hreflang="en" href="http://www.campingzaritsi.gr/en/prices.html" />
  <link rel="alternate" hreflang="el" href="http://www.campingzaritsi.gr/prices.html" />

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,greek-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300&subset=latin,greek-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "all" %>

  <style>
    #menu {
      height:100%;
    }
    @media screen and (max-width: 767px) {
      #menu {
        height:auto;
      }
    }
  </style>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <!--[if IE lte 8]> <script src="assets/javascripts/respond.min.js"></script> <![endif]-->
</head>
<body>
  <%= yield %>
</body>
</html>
