<%= partial "_partials/top" %>
<%= partial "_partials/front" %>
<%= partial "_partials/about" %>
<% partial "_partials/directions" %>
<% partial "_partials/menu" %>
<% partial "_partials/wine" %>
<%= partial "_partials/gallery" %>
<%= partial "_partials/contact" %>
<%= partial "_partials/footer" %>
